<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <strong>Search</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-searchbar color="dark" placeholder="Search your movie"></ion-searchbar>

  <div class="search">
    <h2>Search by Genre</h2>
  </div>

<div class="buttons">
  <ion-grid [fixed]="true">

    <ion-row>
      <ion-button size="large">Action</ion-button>
      <ion-button size="large">Comedy</ion-button>
    </ion-row>

    <ion-row>
      <ion-button size="large">Romance</ion-button>
      <ion-button size="large">Thriller</ion-button>
    </ion-row>

    <ion-row>
      <ion-button size="large">Narrative</ion-button>
      <ion-button size="large">Horror</ion-button>
    </ion-row>

    <ion-row>
      <ion-button size="large">Drama</ion-button>
      <ion-button size="large">Sci-fi</ion-button>
    </ion-row>

    <ion-row>
      <ion-button size="large">Fantasy</ion-button>
      <ion-button size="large">Zombies</ion-button>
    </ion-row>

    <ion-row>
      <ion-button size="large">War</ion-button>
      <ion-button size="large">Crime</ion-button>
    </ion-row>
  
  </ion-grid>
</div>


</ion-content>