.welcome{
    text-align: center;
    padding-top: 10% ;
    font-weight: bold;
}

.input{
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.button{
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

.icons{
    text-align: center;
    font-size: larger;
}